// Theme variables
$primary: rgb(255, 144, 53);
$primary-dark: rgb(204, 115, 42);
// $primary: #d3d1cf;
// $primary-dark: #acaaa8;
$white: #ffffff;
$text-dark: #111111;
$text-muted: #666666;
$muted-bg: #f7f7f7;
$border: #e6e6e6;

$radius: 12px;
$gap-sm: 8px;
$gap: 16px;
$gap-lg: 24px;
$transition: 190ms ease;

// layout
$sidebar-width-expanded: 260px;
$sidebar-width-collapsed: 72px;

$font-family-base: "Manrope", Inter, system-ui, -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Font sizes (in rem, responsive-ready)
$font-size-xs: 0.75rem; // ~12px
$font-size-sm: 0.875rem; // ~14px
$font-size-base: 1rem; // 16px
$font-size-lg: 1.125rem; // 18px
$font-size-xl: 1.25rem; // 20px
$font-size-2xl: 1.5rem; // 24px
$font-size-3xl: 1.875rem; // 30px
$font-size-4xl: 2.25rem; // 36px
