@import "../abstracts/variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body,
html {
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
  color: var(--text-dark);
  line-height: 1.5;
  font-size: 16px;
}

h1 {
  font-size: $font-size-4xl;
  font-weight: 700;
}
h2 {
  font-size: $font-size-3xl;
  font-weight: 600;
}
h3 {
  font-size: $font-size-2xl;
  font-weight: 600;
}
h4 {
  font-size: $font-size-xl;
  font-weight: 500;
}
p,
li {
  font-size: $font-size-base;
}
small {
  font-size: $font-size-sm;
}

:root {
  --primary: #{$primary};
  --primary-dark: #{$primary-dark};
  --white: #{$white};
  --text-dark: #{$text-dark};
  --text-muted: #{$text-muted};
  --muted-bg: #{$muted-bg};
  --border: #{$border};

  --radius: #{$radius};
  --gap-sm: #{$gap-sm};
  --gap: #{$gap};
  --gap-lg: #{$gap-lg};
  --transition: #{$transition};

  --sidebar-width-expanded: #{$sidebar-width-expanded};
  --sidebar-width-collapsed: #{$sidebar-width-collapsed};

  --font-weight-regular: #{$font-weight-regular};
  --font-weight-medium: #{$font-weight-medium};
  --font-weight-semibold: #{$font-weight-semibold};
  --font-weight-bold: #{$font-weight-bold};

  --font-size-xs: #{$font-size-xs};
  --font-size-sm: #{$font-size-sm};
  --font-size-base: #{$font-size-base};
  --font-size-lg: #{$font-size-lg};
  --font-size-xl: #{$font-size-xl};
  --font-size-2xl: #{$font-size-2xl};
  --font-size-3xl: #{$font-size-3xl};
  --font-size-4xl: #{$font-size-4xl};
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  } // tablets
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  } // mobile
}
